<section class="exercises">
  <div class="container">
    <h2 class="exercise-header">
      Exercises
      <span data-exercise="" class="exercise-span js-exercise-header"></span>
    </h2>
    <ul class="list filters js-filters">
      <li data-filter="Muscles" class="filter-item active">
        <button>Muscles</button>
      </li>
      <li data-filter="Body parts" class="filter-item">
        <button>Body Parts</button>
      </li>
      <li data-filter="Equipment" class="filter-item">
        <button>Equipment</button>
      </li>
    </ul>
    <ul class="list filtered-list js-filtered-list"></ul>
    <ul class="list pagination js-pagination"></ul>
  </div>
</section>
