<div class="exercise-pop-up-backdrop js-exercise-pop-up-container is-open">
  <div class="exercise-pop-up-container" id="exercise-pop-up">
    <button class="exercise-pop-up-close-btn js-close-exercise-pop-up" aria-label="Close exercise">
      <svg class="exercise-pop-up-close-icon" width="24" height="24">
        <use href="../images/icons.svg#icon-close"></use>
      </svg>
    </button>

    <div class="exercise-pop-up-content">
      <img class="exercise-instruction-image" src="" alt="">
      <p class="exercise-name"></p>
      <div class="exercise-rating-wrapper">
        <p class="exercise-rating"></p>
        <ul class="exercise-data"></ul>
        <p class="exercise-description"></p>
      </div>
    </div>

    <button class="add-exercise-to-favorites-btn">Add to favorites</button>
    <button class="give-a-rating-to-exercise-btn">Give a rating</button>
  </div>
</div>
