<section class="exercises">
  <div class="container">
    <div class="exercises-header-container">
      <h2 class="exercise-header js-exercise-header">Exercises</h2>
      <span
        data-exercise=""
        class="exercise-title-span js-exercise-header-span"
      ></span>
    </div>
    <ul class="list filters js-filters">
      <li data-filter="Muscles" class="filter-item active">
        <button>Muscles</button>
      </li>
      <li data-filter="Body parts" class="filter-item">
        <button>Body Parts</button>
      </li>
      <li data-filter="Equipment" class="filter-item">
        <button>Equipment</button>
      </li>
    </ul>
    <ul class="list filtered-list js-filtered-list"></ul>
    <ul class="list pagination js-pagination"></ul>
  </div>
</section>
