<section>
  <load src="/partials/quote.html" />
</section>
<section class="container favorites-container">
  <img class="favorites-image" src="." alt="alta" />
  <p class="favorites-text visually-hidden">
    It appears that you haven't added any exercises to your favorites yet. To
    get started, you can add exercises that you like to your favorites for
    easier access in the future.
  </p>
  <ul class="practice-list"></ul>
  <ul class="favorites-pagination visually-hidden"></ul>
</section>
<script src="../js/favorites.js" type="module"></script>
