<div class="favorites-container">
    <img class="favorites-image" src="." alt="alta">
    <p class="favorites-text hidden">It appears that you haven't added any exercises to your favorites yet. To get started, you can add exercises that you like to your favorites for easier access in the future.</p>
    <ul class="practice-list">
        <li class="practice-list-item"></li>
        <li class="practice-list-item"></li>
        <li class="practice-list-item"></li>
        <li class="practice-list-item"></li>
        <li class="practice-list-item"></li>
        <li class="practice-list-item"></li>
        <li class="practice-list-item"></li>
        <li class="practice-list-item"></li>
        <li class="practice-list-item"></li>
    </ul>
    <ul class="favorites-pagination">

    </ul>
</div>