.button {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 1.5;
  border-radius: 30px;
  padding: 12px 24px;
  color: var(--dark);
  background-color: var(--light);
  border: 1px solid transparent;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-property: background-color, color, border-color;

  .button-icon-container {
    width: 20px;
    height: 20px;
  }

  .button-icon path {
    transition: stroke 0.3s ease;
  }

  &:hover {
    cursor: pointer;
    background-color: transparent;
    color: var(--light);
    border-color: var(--light);

    .button-icon path {
      stroke: var(--light);
    }
  }
}
