:root {
  /* Colors */
  --light: #f4f4f4;
  --light-20: #f4f4f433;
  --light-40: #f4f4f466;
  --light-60: #f4f4f499;
  --light-grey: #d4d4d4;
  --light-blue-grey: #c6cdd1;
  --dark: #242424;
  --yellow: #eea10c;
  --white: #ffffff;
  --dark-grey: #111111;

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --animation-fast: --container-max-width: 375px;
  --tablet-max-width: 768px;
  --desktop-max-width: 1440px;
  --mobile-menu-max-width: 210px;

  --box-shadow: -3px 4px 35px -5px rgba(66, 68, 90, 1);
  --box-shadow-light: -3px 4px 35px -16px rgba(66, 68, 90, 1);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  background-color: #f4f4f4;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light);
  font-optical-sizing: auto;
  font-style: normal;
  color: #212121;
  line-height: 1.5;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
button {
  font-family: inherit;
}

/*#region Misc */

.container {
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    max-width: var(--tablet-max-width);
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: var(--desktop-max-width);
  }
}

.list {
  display: flex;
  list-style-type: none;
}

.link {
  display: inline-block;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.fade-item {
  transition: 0.5s all ease-in-out;
  opacity: 0;
}

.fadein {
  animation: fadeIn 0.9s 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
