.filter-item {
  gap: 20px;
}

.filter-item button {
  cursor: pointer;
}

.filter-item.active button {
  background-color: var(--dark);
  color: var(--light);
}

.filtered-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.filtered-item {
  border: 1px solid var(--dark);
  border-radius: 10px;
  padding: 10px;
}

.pagination-item {
  border: 1px solid var(--dark);
  border-radius: 10px;
  padding: 10px;
}

.pagination-item.active {
  background-color: var(--dark);
  color: var(--light);
}
.pagination-item.active .pagination-link {
  color: var(--light);
}

.exercise-card {
  border: 1px solid var(--dark);
  border-radius: 10px;
  padding: 10px;
  display: block;
}

.exercise-start-btn {
  background-color: var(--light);
  border: 1px solid var(--dark);
  border-radius: 10px;
  height: 20px;
  width: 50px;
  display: block;
}
