.info-block {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 16px;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--white);
  height: 200px;
  width: 100%;
}

.info-block-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.info-block-title-main {
  color: var(--dark);
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 6px;
}

.info-block-title-sub {
  color: var(--dark);
  opacity: 0.6;
  font-size: 14px;
  line-height: 1.28571;
}

.info-block-content {
  color: var(--dark);
  font-size: 14px;
  line-height: 1.28571;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  height: 32px;
  width: 32px;
  border-radius: 100%;
}

@media screen and (min-width: 768px) {
  .info-block {
    height: 250px;
    padding: 40px;
  }

  .info-block-title {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .info-block {
    height: 315px;
  }

  .info-block-content {
    -webkit-line-clamp: 9;
  }
}
