.pagination {
  display: flex;
  gap: 8px;
  justify-content: center;

  .pagination-item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: none;

    & .pagination-link {
      font-size: 24px;
      line-height: 1.33333;
      letter-spacing: 0.96px;
      text-decoration: none;
      color: var(--light-grey);
      cursor: pointer;
    }

    &.three-dots {
      cursor: default;

      & .pagination-link {
        cursor: default;
      }
    }

    &.active {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: 1px solid var(--dark);
      color: var(--dark);
      cursor: default;

      & .pagination-link {
        cursor: default;
        text-decoration: none;
        color: var(--dark);
      }
    }
  }

  .pagination-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid var(--dark);
    cursor: pointer;
  }

  .pagination-arrow .pagination-link {
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
  }

  .pagination-arrow .arrow-icon.first {
    position: absolute;
  }

  .pagination-arrow .arrow-icon.first:first-child {
    left: -4px;
  }

  .pagination-arrow .arrow-icon.first:last-child {
    left: 2px;
  }

  .pagination-arrow .arrow-icon.last {
    position: absolute;
  }

  .pagination-arrow .arrow-icon.last:first-child {
    right: -4px;
  }

  .pagination-arrow .arrow-icon.last:last-child {
    right: 2px;
  }

  .pagination-arrow.disabled {
    cursor: default;
    border: 1px solid var(--light-grey);
  }

  .pagination-arrow.disabled .pagination-link {
    cursor: default;
  }

  .pagination-arrow.disabled svg {
    fill: var(--dark);
    opacity: 0.5;
  }

  .pagination-arrow.go-to-prev {
    margin-right: 20px;
  }

  .pagination-arrow.go-to-next {
    margin-left: 20px;
  }
}
